#footer {
	background: rgb(45,45,45);
	padding-top: 25px;
	padding-bottom:25px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}
#footer div {
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}
#footer div p {
	color: white;
	float: left;
	line-height: 40px;
	display: block;
	font-size: 14px;
}
#footer div ul {
	display: block;
	float: right;
	overflow: hidden;
	width: 250px;
	height: 50px;
}
#footer div ul li {
	display: block;
	float: left;
	margin: 0 10px;
	width: 40px;
}
#footer div ul li a {
	display: block;
	height: 40px;
	width: 40px;
}
#footer div ul li.tw a:hover img{
	background: url('icon-twitter-hover.jpg');