#bodystyle h1{
	color: white;
	font-size: 40px;
	margin-top: 2;
	margin-bottom: 10;
	font-family: Arial Black;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
#bodystyle h1 span  {
	background-color: black;
	padding: 15px 28px 12px;
	display: inline;
}
#bodystyle > div .pick{
	border: 2px solid #292929;
	margin-top: 20px;
	padding: 0;
}
#bodystyle > div .article {
	margin-right: auto;
	margin-left: auto;
	padding: 30px 30px 0;
	width: 560px;
}
#bodystyle > div .article h3 {
	color: black;
	line-height: 25px;
	margin: 0;
}
#bodystyle > div .article p {
	margin-top: 2px;
	margin-bottom: 30px;
}
p {
	color: #252525;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
p a {
	color: #252525;
	text-decoration: underline;
}
p a:hover{
	color: #898989;
}