{% extends 'header_footer.html' %}
{% load staticfiles %}
{% block content %}
    <div id="bodystyle">
        <h1><span>blog</span></h1>
        <div>
            <ul>
                <li>
                    <a href="{% url 'blognextpage' %}" id="listlink">
                        <img src="{% static "images/cutting-mustache.jpg" %}" alt="Cutting Mustache" >
                    </a>
                    <div>
                        <h3>why i grew a mustache</h3>
                        <p>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded.
                        What’s more, they’re absolutely free! You can do a lot with them. You can modify them.</p>
                        <a href="{% url 'blognextpage' %}" class="link">read this</a>
                    </div>
                </li>
                <li>
                    <a href="{% url 'blognextpage' %}" id="listlink">
                        <img src="{% static "images/in-the-country.jpg" %} ">
                    </a>
                    <div>
                        <h3>in the country</h3>
                        <p>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded.
                        What’s more, they’re absolutely free! You can do a lot with them. You can modify them.</p>
                        <a href="{% url 'blognextpage' %}" class="link">read this</a>
                    </div>
                </li>
                <li>
                    <a href="{% url 'blognextpage' %}" id="listlink">
                        <img src="{% static "images/mustache-brothers.jpg" %}">
                    </a>
                    <div>
                        <h3>the mustache brothers</h3>
                        <p>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded.
                        What’s more, they’re absolutely free! You can do a lot with them. You can modify them.</p>
                        <a href="{% url 'blognextpage' %}" class="link">read this</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}