{% extends 'header_footer.html' %}
{% load staticfiles %}
{% block content %}
    <div id="bodystyle">
        <h1><span>gallery single post</span></h1>
        <div>
            <img src="{% static "images/prim-and-proper.jpg" %}">
            <div id="handp">
                <h2>PRIM AND PROPER</h2>
                <p>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded.
                What’s more, they’re absolutely free! You can do a lot with them. You can modify them.</p>
            </div>
        </div>
    </div>
{% endblock %}